<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;background-color:#f3f4f8;" width="100%">
    <tbody><!--邮件公用顶部-->
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:collapse;" width="680">
                <tbody>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:collapse;" width="100%">
                            <tbody>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:collapse; background-color:#fff;" width="100%">
                            <tbody>
                            <tr>
                                <td><img src="https://eventdove.com/resource/20170614/373814_20170614181514600.jpg" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--邮件公用顶部-end--><!--内容信息-->
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:collapse; background-color:#fff;" width="680">
                <tbody>
                <tr>
                    <td height="40" width="50">&nbsp;</td>
                    <td height="40">&nbsp;</td>
                    <td height="40" width="50">&nbsp;</td>
                </tr>
                <tr>
                    <td height="40" width="50">&nbsp;</td>
                    <td>
                        <strong>恭喜您！购票成功，请点击以下链接来下载您的电子票</strong>
                        <a style="word-break: break-all;" href='<%= url %>'><%= url %></a>
                    </td>
                    <td height="40" width="50">&nbsp;</td>
                </tr>
                <tr>
                    <td height="40" width="50">&nbsp;</td>
                    <td height="40">&nbsp;</td>
                    <td height="40" width="50">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--内容信息-end--><!--公用底部信息-->
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:collapse;" width="680">
                <tbody>
                <tr>
                    <td height="20" width="50">&nbsp;</td>
                    <td height="20">&nbsp;</td>
                    <td height="20" width="50">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:100px;">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:collapse;width:100px;">
                            <tbody>
                            <tr>
                                <td><img src="http://qa.www.eventdove.com/images/wx-code.jpg" width="100" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td>
                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="width:240px;">
                            <tbody>
                            <tr>
                                <td style="font-size:13px; color:#666;">微信扫一扫联系会鸽</td>
                            </tr>
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:13px; color:#666;">客服QQ：2850609143 / 2850609149</td>
                            </tr>
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:13px; color:#666;">客服电话：010-61138799-8042</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="80">&nbsp;</td>
                    <td>
                        <table align="left" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td style="font-size:13px; color:#666; line-height:20px"><img src="http://eventdove.com/img/refactor2/image/email_icon_d.png" style="vertical-align: middle;" width="20" /><a href="http://weibo.com/eventdove" style="vertical-align: middle; margin-left:10px; text-decoration:none; color:#666 " target="_blank">新浪微博</a></td>
                            </tr>
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:13px; color:#666; line-height:20px"><img src="http://eventdove.com/img/refactor2/image/email_icon_g.png" style="vertical-align: middle;" width="20" /><a href="http://blog.eventdove.com" style="vertical-align: middle; margin-left:10px; text-decoration:none; color:#666 " target="_blank">会鸽博客</a></td>
                            </tr>
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:13px; color:#666; line-height:20px"><img src="http://eventdove.com/img/refactor2/image/email_icon_f.png" style="vertical-align: middle;" width="20" /><a href="http://eventdove.com/download" style="vertical-align: middle; margin-left:10px; text-decoration:none; color:#666 " target="_blank">会鸽App</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                    <td height="20">&nbsp;</td>
                    <td height="20">&nbsp;</td>
                    <td height="20">&nbsp;</td>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p style="height:1px;background:#dedede;margin:0;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td height="10">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5" style="color:#999; font-size:12px; text-align:center">Copyright&copy;2017 EventDove.com 版权所有 苏ICP备 10211262号 苏ICP证 B1-20150298号</td>
                </tr>
                <tr>
                    <td height="10">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--公用底部信息-end-->
    </tbody>
</table>
